.gallery {
    position: relative;
    max-height: 1302px;
    width: 100%;
    padding: 136px;   
}

.sub-title {
    position: relative;
    h2 {
        font-family: gilroy-rep, sans-serif;
        font-weight: 800;
        font-size: 32px;
        color: $textcolor;
        span{
            color: transparent;
            -webkit-text-stroke: 1px $textcolor;
        }       
    }
    &::after {
        content: '';
        display: block;
        width: 40px;
        height: 1px;
        background-color: $textcolor;
        position: absolute;
        top: 50%;
        left: -80px;
    }
}

.gallery-container {
    width: 1100px;
}

.panes {
    margin-top: 48px;
}

.panes__row {
    width: 100%;
    display: flex;

    h3 {
        position: absolute;
        color: #fff;
        font-family: gilroy-rep, sans-serif;
        font-size: 20px;
        font-weight: 800;
        top: 32px;
        left: 32px;
    }
}

.panes__row:nth-child(n+2) {
    margin-top: 10px;
}

.panes__threesome {
    width: 730px;
}

.panes__side {
    position: relative;
    width: 360px;
}

.panes__threesome:nth-child(n+2),
.panes__side:nth-child(n+2) {
    margin-left: 10px;
}

.threesome {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0 0 -10px;
}

.threesome__item {
    position: relative;
    margin: 10px 0 0 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.threesome__item:before {
    content: '';
    width: 100%;
    display: block;
}

.threesome__item_duo {
    width: 100%;
}

.threesome__item_mono {
    width: 360px;
}

.threesome__item_duo:before {
    padding-bottom: 270px;
}

.threesome__item_mono:before {
    padding-bottom: 270px;
}

.panes-content {
    position: absolute;
    bottom: 32px;
    left: 32px;
    width: 181px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    color: rgba($color: #fff, $alpha: 0.7);
    font-family: montserrat-rep, sans-serif;
    font-size: 10px;
    font-weight: 500;
    opacity: 0;
    transition: opacity 0.7s;

    span {
        font-family: gilroy-rep, sans-serif;
        font-weight: 800;
        font-size: 14px;
        color: #fff;
    }
}